<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/members/home"></ion-back-button>
        </ion-buttons>
      <ion-title>Wedding Day</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <ion-list lines="full"> 
          <h1>Wedding Details</h1>
          <ion-item>
              <ion-label stacked class="bold-label">Your Name:</ion-label>
              <ion-input required type="text" [(ngModel)]="weddingDay.YourName"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label stacked class="bold-label">Fiance Name:</ion-label>
              <ion-input required type="text" [(ngModel)]="weddingDay.FianceName"></ion-input>
          </ion-item>      
          <ion-item>
              <ion-label stacked class="bold-label">Number of Guests:</ion-label>
              <ion-input required type="number" [(ngModel)]="weddingDay.EstimatedNoOfGuests"></ion-input>
          </ion-item>   
          <br>
          <h1>Venue Details</h1>
          <ion-item>
            <ion-label stacked class="bold-label">Name:</ion-label>
            <ion-input required type="text" [(ngModel)]="weddingDay.VenueName"></ion-input>
          </ion-item> 
          <ion-item>
            <ion-label stacked class="bold-label">Address:</ion-label>
            <ion-input required type="text" [(ngModel)]="weddingDay.VenueAddress1"></ion-input>
          </ion-item> 
          <ion-item>
            <ion-label stacked class="bold-label">Address 2:</ion-label>
            <ion-input required type="text" [(ngModel)]="weddingDay.VenueAddress2"></ion-input>
          </ion-item> 
          <ion-item>
            <ion-label stacked class="bold-label">City:</ion-label>
            <ion-input required type="text" [(ngModel)]="weddingDay.VenueCity"></ion-input>
          </ion-item> 
          <ion-item>
            <ion-label stacked class="bold-label">State:</ion-label>
            <ion-input required type="text" [(ngModel)]="weddingDay.VenueState"></ion-input>
          </ion-item> 
          <ion-item>
            <ion-label stacked class="bold-label">Zip Code:</ion-label>
            <ion-input required type="text" [(ngModel)]="weddingDay.VenueZip"></ion-input>
          </ion-item> 
          <br>
          <h1>Dates & Times</h1>
          <ion-item>
              <ion-label stacked class="bold-label">Wedding Date:</ion-label>
              <ion-input required type="date" [(ngModel)]="weddingDay.WeddingDate"></ion-input>
          </ion-item> 
          <ion-item>
              <ion-label stacked class="bold-label">Reception Time:</ion-label>
              <ion-input required type="time" [(ngModel)]="weddingDay.ReceptionTime"></ion-input>
          </ion-item> 
          <ion-item>
              <ion-label stacked class="bold-label">Cocktail Time:</ion-label>
              <ion-input required type="time" [(ngModel)]="weddingDay.CocktailTime"></ion-input>
          </ion-item> 
          <ion-item>
              <ion-label stacked class="bold-label">Dinner Time:</ion-label>
              <ion-input required type="time" [(ngModel)]="weddingDay.DinnerTime"></ion-input>
          </ion-item> 
      </ion-list>
      <ion-button expand="full" (click)="saveWeddingDay()">Save</ion-button>
  </ion-content>
  