<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Best Day Ever
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-countdown-timer [units]="{from: 'day', to: 'second'}" [end]="countdownDate"></app-countdown-timer>
  <h2>Stats go here..</h2>
  <h2>1. Location</h2>
  <h2>2. Date (Countdown)</h2>
  <h2>3. Total Number of Guests</h2>
  <h2>4. Total Number of guests that RSVPed</h2>
</ion-content>
