<ion-header>
  <ion-toolbar>
    <ion-title>Budget Manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Search Budgets</ion-label>
    <ion-select value="category" [(ngModel)]="searchCategory">
      <ion-select-option value="category">Category</ion-select-option>
      <ion-select-option value="subcategory">Subcategory</ion-select-option>
      <ion-select-option value="budgetName">Budget Name</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <br>
  <table>
    <tr>
      <th>Category</th>
      <th>Subcategory</th>
      <th>Name</th>
      <th>Description</th>
      <th>Suggested %</th>
      <th>Suggested Amt.</th>
      <th>Actual</th>
    </tr>
    <tr *ngFor="let item of budgets">
      <td button (click)="viewDetails(item)">
        {{item.payload.doc.data().Category}}
      </td>
      <td button (click)="viewDetails(item)">
          {{item.payload.doc.data().SubCategory}}
      </td> 
      <td button (click)="viewDetails(item)">
          {{item.payload.doc.data().BudgetName}}
      </td>
      <td button (click)="viewDetails(item)">
          {{item.payload.doc.data().BudgetDescription}}
      </td>
      <td button (click)="viewDetails(item)">
          {{item.payload.doc.data().SuggestedPercent}}
      </td>
      <td button (click)="viewDetails(item)">
        {{item.payload.doc.data().SuggestedAmount}}
      </td>
      <td button (click)="viewDetails(item)">
        {{item.payload.doc.data().ActualCost}}
      </td>
    </tr>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addItem()">
          <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>    
  </table>
</ion-content>